@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}


body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 1em;
}